body {
    background-image: url("images/download\ \(1\).jpg");
    background:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.2)),url("images/download\ \(1\).jpg") 
    center/cover no-repeat;
    min-height: 100vh;
    font-family: Verdana;
    text-align: center;
}

.text{
    color:black;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 600;
    line-height: 33px;
}
 form {
    background: gray;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color:#000000;
}
.form-control {
    text-align: left;
    margin-bottom: 25px;
}
.form-control label {
    display: block;
    margin-bottom: 10px;
}
.form-control input,
.form-control select,.form-control textarea{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}



.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:#000000;
    font-size: 18px;
    cursor:no-drop;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    text-decoration: none;
    outline: none;
}

.btn:hover{
    background:#0f4ce4;;
}



        